//
@use 'bootstrap';
body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #121238;
}

header {
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(71, 85, 219, 0.438);
}

main {
    height: calc(100vh - 8vh - 6vh);
    overflow: auto;
    .cards {
        background-color: whitesmoke;
        box-shadow: 2px 2px 12px 0 #33337c, -2px -2px 2px 0px #3094b3;
        .cards_img {
            text-align: center;
        }
        img {
            height: 280px;
        }
    }
}

#site_footer {
    height: 6vh;
    width: 100vw;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

strong.green {
    color: greenyellow;
}

strong.red {
    color: red;
}